@model IEnumerable<Mypro.Models.Category>
@{
    ViewBag.Title = "Manage Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<a href="javascript:history.back()" class="btn btn-light mb-3" style="font-size:20px; font-weight:bold;">←</a>

<h2 class="mb-4">Manage Categories</h2>

<style>
    h2 {
        color: black;
    }

    body.theme-dark h2 {
        color: white !important;
    }
</style>

<a asp-action="AddCategory" class="btn btn-primary">Add Category</a>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model)
        {
            <tr>
                <td>@cat.CategoryId</td>
                <td>@cat.CategoryName</td>
                <td>@cat.CategoryType</td>
                <td>
                    <a asp-action="EditCategory" asp-route-id="@cat.CategoryId"
                       class="btn btn-warning btn-sm" title="Edit">
                        <i class="bi bi-pencil"></i>
                    </a>

                    <a asp-action="DeleteCategory" asp-route-id="@cat.CategoryId"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Are you sure you want to delete this category?');"
                       title="Delete">
                        <i class="bi bi-trash"></i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
